/* Create Post*/
.createpost {
    border: 1px solid #000;
    box-shadow: 4px rgba(0,0,0,1);
    margin-top: 10vh;
}
.createpost h2{
    text-align: center;
    font-size: 30px;
}
.postform {
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.postform input[type="file"] {
    margin-bottom: 40px;
}
.postform textarea{
    width: 500px;
}