/* Friends List */
.friendlist h2{
    text-align: center;
    font-size: 35px;
    margin: 20px;
    font-family: Pacifico;
    font-weight: 700;
    font-style: italic;
}
.friendlist span{
    font-size: 15px;
    margin-top: 40px;
}