/* Main */
main{
  margin: 0px 100px 0px 380px;
}

/* Body */
body {
  background-color: white;
  color: black;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: black;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,1);
}
#vertical-header {
  height: 100vh;
  width: 210px; /* set initial width */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  color: #fff;
  transform-origin: top left;
  white-space: nowrap;
}
#vertical-header h1 {
  transform:translateY(-40vh);
  transform-origin: top left;
}
#vertical-header nav ul{
  transform: translateX(-110%);
  transform-origin: top left;
}

/* Navigation */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  margin: 50px 10px;
}
nav a {
  text-decoration: none;
  color: #222;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
#sign-out{
  transform: translateX(-40%)translateY(15vh);
  transform-origin: top left;
}

/* Center */
.center{
  height: 100vh;
  margin: 40px 100px;
  position: fixed;
}
.center h1{
  margin-left: 25px;
}

/* Links */
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #cdcaca;
  text-decoration: none;
}

/* Buttons */
button, input[type="submit"] {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 30px;
  width:100%;
  margin:auto;
}
button:hover, input[type="submit"]:hover {
  background-color: white;
  color: black;
}

/* Form elements */
input[type="text"], input[type="password"], textarea, select {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
input[type="checkbox"], input[type="radio"] {
  margin-right: 5px;
}
textarea{
  width: 380px;
  height: 30vh;
  margin-bottom: 40px;
  resize: none;
}

/* Friends List */
.friendlist h2{
  text-align: center;
  font-size: 35px;
  margin: 20px;
}
.friendlist span{
  font-size: 15px;
  margin-top: 40px;
}

/* Messages */
.success {
  color: black;
  padding: 10px;
  text-align: center;
}
.error {
  color: rgb(198, 11, 11);
  padding: 10px;
  text-align: center;
}