main h2{
    text-align: center;
    font-size: 45px;
    margin: 20px;
    font-family: Pacifico;
    font-weight: 800;
    font-style: italic;
}
.notifications ul{
    margin: 40px 30px;
    font-family: Pacifico;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
}
.notifications li{
    list-style: square;
    margin: 40px 30px;
    font-family: Pacifico;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
}