/* Profile */
.profile {
    display: flex;
    align-items: center;
}
.profileHeader {
    display: flex;
    margin-bottom: 10px;
}
.stats {
    display: flex;
    justify-content: center;
}
.stats p {
    margin-right: 7vw;
}
.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
}
.details {
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.profileHeader h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.description {
    flex: 1;
    text-align: left;
}
.description p {
    font-size: 18px;
    margin-bottom: 5px;
    justify-content: space-around;
}
.profilebtns {
    width: auto;
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 20vw;
}
.post img{
    width: 150px;
    height: 150px;
    margin: 10px;
    object-fit: cover;
    vertical-align:middle;
    border: 2px double #444;
}
.post {
    border: 2px double #444;
}
.user img{
    width: 90px;
    height: 90px;
    margin: 30px 50px 10px 40px;
    object-fit: cover;
}
.viewprofile{
    margin-left: 10px;
}
.profile form{
    display: flex;
    margin-left: auto;
}
#add_friend{
    color: rgb(149, 243, 9);
    width: auto;
    display: flex;
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
}
#remove_friend{
    color: rgb(255, 43, 43);
    width: auto;
    display: flex;
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 2vw;
}